@import  "mixin";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  background-color: rgb(241, 241, 241);
}

//signup and login
.login-h1 {
  font-size: 60px;

@include gradiant-texte



}

.signlogin {


display: grid ;

grid-template-columns: 1fr 1fr;
grid-template-rows: 100vh;
align-items: center;
justify-items: center;

form {
  background-color: white;
  box-shadow: 0px 0px  5px 0px ;
  padding: 20px;
  max-width: 80%;
  min-width: 400px;

  .btn  {

    @include gradiant-image ; 
    width:200px ; 
    color: white;
  }
  .input-container {

    padding: 10px;
  }

.icon {
  margin-right: 20px;

  @include gradiant-texte
}


}

}

//end login signup

