@import  "mixin";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



//signup and login
.login-h1 {
  font-size: 60px;

@include gradiant-texte



}

.signlogin {
  


display: grid ;

height:100vh;
grid-template-rows: 100vh;
align-items: center;
justify-items: center;

form {
  padding: 20px;
  max-width: 400px;
  display : grid;
  align-items: center;
  justify-items: center;

.btn  {
  

    background-color: #00b9ca;
    margin: auto;
    margin-top: 80px;
    width : 150px;
    border: none;
    border-radius: 10px;
   
    padding:10px ; 
    color: white;
    
    
  }
  .input-container {

    padding: 10px;
    input {
      padding : 15px
    }
  }

.icon {
  color :  #00b9ca;
  margin-right: 20px;

  
}


}

}

//end login signup

